<a href="https://colab.research.google.com/github/gahyeon07/gahyeon/blob/main/3_18_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import requests

url = 'http://apis.data.go.kr/1480523/MetalMeasuringResultService/MetalService'
params ={'serviceKey' : 'Br20dK51JtJPAOn8fNX/veoNxoo8waK3Ni8uA9IPev3rbmxTTlPgBjWYhhpnT76HXQUOH3SWqWJ2Crc4UB/Jlw==', 'pageNo' : '1', 'numOfRows' : '10', 'resultType' : 'XML', 'date' : '20171208', 'stationcode' : '1', 'itemcode' : '90303', 'timecode' : 'RH02' }

response = requests.get(url, params=params)
print(response.content.decode('utf'))

<?xml version="1.0" encoding="UTF-8"?>
<response>
  <header>
    <resultCode>00</resultCode>
    <resultMsg>NORMAL SERVICE</resultMsg>
  </header>
  <body>
    <items>
  <item>
    <sdate>20171208000000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>24.125</value>
  </item>
  <item>
    <sdate>20171208020000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>26.973</value>
  </item>
  <item>
    <sdate>20171208040000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>25.986</value>
  </item>
  <item>
    <sdate>20171208060000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>23.7435</value>
  </item>
  <item>
    <sdate>20171208080000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>22.9215</value>
  </item>
  <item>
    <sdate>20171208100000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>21.729</value>
  </item>
  <item>
    <sdate>20171208120000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>17.606</value>
  </item>
  <item>
    <sdate>20171208140000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>12.102</value>
  </item>
  <item>
    <sdate>20171208160000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>10.046</value>
  </item>
  <item>
    <sdate>20171208180000</sdate>
    <stationcode>1</stationcode>
    <itemcode>90303</itemcode>
    <timecode>RH02</timecode>
    <value>8.5985</value>
  </item>
</items>
    <numOfRows>10</numOfRows>
    <pageNo>1</pageNo>
    <totalCount>12</totalCount>
  </body>
</response>

In [19]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(response.text, features="xml")

In [20]:
soup.find_all('value')

[<value>24.125</value>,
 <value>26.973</value>,
 <value>25.986</value>,
 <value>23.7435</value>,
 <value>22.9215</value>,
 <value>21.729</value>,
 <value>17.606</value>,
 <value>12.102</value>,
 <value>10.046</value>,
 <value>8.5985</value>]

In [21]:
print('학번=', 2370001, '이름=', '강가현')

학번= 2370001 이름= 강가현